* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-texto1 {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 26px;
    color: white;
}

.home-texto2 {
    position: absolute;
    top: 160px;
    left: 50px;
    font-size: 55px;
    color: white;
    font-weight: bold;
}

.home-texto3 {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 350px;
    font-size: 18px;
    color: white;
    line-height: 22px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.cadastro {
    position: relative;
    width: 100%;
    height: 100vh;
}

.imagem2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cadastro-titulo {
    position: absolute;
    top: 50px;
    text-align: center;
    left: 48%;
    right: 230px;
    font-size: 40px;
    color: aliceblue;
}

.formulario {
    position: absolute;
    top: 150px;
    position: relative;
    top: -330px;
    right: 80px;
    left: 48%;
    background-color: #c8cfe0;
    padding: 20px;
    width: 260px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input {
    padding: 8px;
    border: 1px solid #777;
    border-radius: 5px;
}

.btn {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
  background-color: #f2e4c9;
  font-family: Arial, sans-serif;
}

.login-titulo {
    position: absolute;
    top: 920px;
    text-align: center;
    left: 48%;
    right: 230px;
    font-size: 40px;
    color: aliceblue;
}

.piramide{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario2 {
    position: absolute;
    top: 80px;
    position: relative;
    top: -300px;
    right: 80px;
    left: 48%;
    background-color: #c8cfe0;
    padding: 20px;
    width: 260px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario2 input {
    padding: 8px;
    border: 1px solid #777;
    border-radius: 5px;
}

.b2 {
    background-color: #003366;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.img-cultura{
    width: 500px;
    margin-left: 50px;
    display: block;
    margin-top: 1rem;
    border-radius: 10px;
}

p{
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 50px;
}

.cultura-titulo{
    position: absolute;
    top: 320%;
    font-size: 50px;
    margin-left: 10px;
    margin-left: 50px;
     font-size: 3.6rem;
    margin-block: 0.8rem 4.4rem
}