* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
}

.imagem {
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.home-texto1 {
    position: absolute;
    top: 120px;
    left: 50px;
    font-size: 26px;
    color: white;

}

.home-texto2 {
    position: absolute;
    top: 160px;
    left: 50px;
    font-size: 55px;
    color: white;
    font-weight: bold;
}

.home-texto3 {
    position: absolute;
    top: 200px;
    left: 5px;
    width: 350px;
    font-size: 18px;
    color: white;
    line-height: 22px;
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.cadastro {
    position: relative;
    width: 100%;
    height: 100vh;
}

.imagem2 {
    width: 110%;
    height: 100%;
    object-fit: cover;

}

.cadastro-titulo {
    position: absolute;
    top: 20px;
    text-align: center;
    left: 60%;
    right: 230px;
    font-size: 40px;
    color: aliceblue;
}

.formulario {
    position: absolute;
    top: 150px;
    position: relative;
    top: -350px;
    right: 70px;
    left: 56%;
    background-color: #c8cfe0;
    padding: 10px;
    width: 260px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 75vh;


}

.formulario input {
    padding: 5px;
    font-size: 12px;
    width: 230px;
    height: 27px;
    border: 1px solid #777;
    border-radius: 5px;

   
}

.formulario label {
   color:  #003366;
   font-size: 13px;
}

.bot {
    background-color: #003366;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 14.5rem;
    border: none;
    cursor: pointer;
    margin-block: 1rem;

}

.bot:hover {
    background: oklch(60.6% 0.25 292.717);
    transition: background .4s;
}

body {
  background-color: #f2e4c9;
  font-family: Arial, sans-serif;
  
}

.login-titulo {
    position: absolute;
    top: 920px;
    left: 48%;
    right: 230px;
    font-size: 40px;
    color: aliceblue;
}

.piramide{
    width: 110%;
    height: 100%;
    object-fit: cover;
}

.formulario2 {
    position: absolute;
    top: 80px;
    position: relative;
    top: -300px;
    right: 80px;
    left: 40%;
    background-color: #c8cfe0;
    padding: 20px;
    width: 260px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario2 input {
    padding: 8px;
    border: 1px solid #777;
    border-radius: 5px;
}

.b2 {
    background-color: #003366;
    color: white;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.img-cultura{
    width: 400px;
    margin-left: 50px;
    display: block;
    margin-top: 2rem;
    border-radius: 10px;
}

p{
    font-size: 14px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 50px;
}

.cultura-titulo{
    position: absolute;
    top: 320%;
    font-size: 50px;
    margin-left: 10px;
    margin-left: 50px;
    font-size: 3.6rem;
    margin-block: 7rem 4.4rem
}

ul{
    padding-left: 4.4rem;
    font-weight: 400;

    li::marker{
        color: var(--text-secundary);
    }

}

.deuses{
    font-size: 16px;
    margin-left: 55px;
    margin-block: 1rem;
    color: crimson;
}

